In [2]:
import pandas as pd 
import os
import seaborn as sns
import matplotlib.pyplot as plt
# Set the maximum number of rows and columns to display
pd.set_option('display.max_rows', 200)  # Adjust this number as needed
pd.set_option('display.max_columns', 50)  # Adjust this number as needed

In [9]:
cbg_features = pd.read_csv('../../../data_CityEvent/cbg_features/CBG_COVID_19.csv')
cbg_features.reset_index(drop=True, inplace=True)
cbg_features.shape

(215313, 75)

In [14]:
cbg_features.head()

,Unnamed: 0,BGFIPS,Total_Population,LUM_Race,Median_income,Rent_to_Income,GINI,Agriculture_R,Mining_R,Construction_R,Manufacturing_R,Wholesale_R,Retail_R,Transportation_R,Utilities_R,Information_R,Finance_R,Real_estate_R,Scientific_R,Management_R,Administrative_R,Educational_R,Health_care_R,Arts_R,Accommodation_food_R,...,Walk_R,Taxicab_R,Worked_at_home_R,HISPANIC_LATINO_R,White_R,Black_R,Indian_R,Asian_R,Under_18_R,Bt_18_44_R,Bt_45_64_R,Over_65_R,Male_R,White_Non_Hispanic_R,Black_Non_Hispanic_R,Asian_Non_Hispanic_R,White_Hispanic_R,Associate_R,Bachelor_R,Master_R,Professional_R,Doctorate_R,Population_Density,Education_Degree_R,Unemployed_R
0,0,10010201001,730.0,0.501692,35703.0,44.5,0.4979,0.0,0.0,2.250804,16.398714,0.000000,24.115756,0.000000,6.109325,1.286174,4.180064,0.000000,6.752412,0.0,1.607717,0.000000,7.395498,0.000000,14.469453,...,0.000000,0.0,0.000000,0.958904,83.972603,8.219178,0.0,0.000000,15.890411,35.616438,30.410959,18.082192,40.136986,83.013699,8.219178,0.000000,0.958904,11.568627,8.039216,3.725490,6.078431,0.000000,443.884037,17.843137,2.812500
1,1,10010201002,1263.0,0.387580,79000.0,17.5,0.4979,0.0,0.0,6.708268,7.800312,4.836193,12.948518,9.204368,0.000000,4.680187,2.652106,1.404056,6.864275,0.0,2.964119,11.700468,3.588144,0.624025,14.196568,...,0.000000,0.0,3.900156,1.504355,84.877276,7.284244,0.0,0.158353,23.594616,34.996041,30.958036,10.451306,48.614410,83.372922,7.284244,0.158353,1.504355,8.979090,20.172202,12.177122,0.000000,0.615006,588.508411,32.964330,2.878788
2,2,10010202001,835.0,0.766187,26500.0,51.0,0.4231,0.0,0.0,1.976285,9.090909,5.533597,11.067194,3.952569,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.162055,5.928854,20.158103,1.581028,26.877470,...,0.000000,0.0,3.422053,3.592814,33.053892,60.718563,0.0,0.000000,30.658683,29.700599,20.000000,19.640719,47.065868,31.976048,60.718563,0.000000,1.077844,6.998158,8.471455,1.104972,0.000000,0.000000,1050.651950,9.576427,0.000000
3,3,10010202002,1124.0,0.722437,51042.0,26.3,0.4231,0.0,0.0,2.765957,14.255319,0.000000,14.042553,4.680851,0.638298,0.000000,4.893617,0.000000,3.617021,0.0,10.000000,9.787234,20.851064,1.914894,3.829787,...,0.000000,0.0,0.000000,0.000000,42.971530,54.270463,0.0,0.000000,14.501779,42.437722,32.384342,10.676157,59.163701,42.971530,54.270463,0.000000,0.000000,3.604651,16.046512,3.255814,1.976744,0.581395,2297.126041,21.860465,6.560636
4,4,10010203001,2774.0,0.641478,59048.0,23.4,0.3935,0.0,0.0,6.052270,14.511692,4.539202,7.496561,2.475928,3.232462,4.539202,10.522696,0.000000,4.676754,0.0,2.063274,6.602476,8.665750,0.481431,8.184319,...,1.370802,0.0,1.439342,8.399423,67.267484,20.079308,0.0,1.153569,22.098053,37.995674,25.811103,14.095169,51.297765,67.267484,20.079308,1.153569,0.000000,4.975124,10.149254,8.557214,0.000000,0.945274,1858.166842,19.651741,3.823336

In [5]:
# weather
weather = pd.read_csv('../../../data_CityEvent/Weather/Hourly_Weather_Data-1-OBSERVATION_TIME_IN_UTC_STRING_AS_YYYYMMDDHHMM_-2018-01-01.csv.gz')
weather.shape

(1525262, 34)

In [6]:
display(weather.head())

,CITY_LOCATION_IDENTIFIER_UP_TO_9_ALPHANUMERIC_CHARACTERS_,OBSERVATION_TIME_IN_UTC_STRING_AS_YYYYMMDDHHMM_,OBSERVATION_TIME_IN_LST_LOCAL_STANDARD_TIME_STRING_AS_YYYYMMDDHHMM_,OBSERVATION_TIME_IN_LOCAL_TIME_STRING_AS_YYYYMMDDHHMM_,DAYLIGHT_STATUS_CHARACTER_D_FOR_DAYTIME_ICONS_N_FOR_NIGHTTIME_ICONS_,SKY_DESCRIPTOR_INTEGER_SEE_LOOKUP_,PRECIPITATION_DESCRIPTOR_INTEGER_SEE_LOOKUP_,TEMPERATURE_DESCRIPTOR_INTEGER_SEE_LOOKUP_,ADDITIONAL_AIR_DESCRIPTOR_OPTIONAL_INTEGER_SEE_LOOKUP_,TEMPERATURE_FLOATING_POINT_CELSIUS_,WIND_SPEED_FLOATING_POINT_KNOTS_,WIND_DIRECTION_INTEGER_COMPASS_DEGREES_0_359_0_NORTH_,WIND_GUSTS_OPTIONAL_FLOATING_POINT_KNOTS_,HUMIDITY_INTEGER_PERCENT_,DEW_POINT_FLOATING_POINT_CELSIUS_,COMFORT_LEVEL_FLOATING_POINT_CELSIUS_,SEA_LEVEL_PRESSURE_FLOATING_POINT_MILLIBARS_,BAROMETRIC_TENDENCY_S_STEADY_F_FALLING_R_RISING_,VISIBILITY_FLOATING_POINT_MILES_,SKY_CONDITIONS_C_LEAR_F_EW_S_CATTERED_B_ROKEN_O_VERCAST_X_OBSCURED_,MINIMUM_CLOUD_BASE_FLOATING_POINT_METERS_,MAXIMUM_CLOUD_BASE_FLOATING_POINT_METERS_,WEATHER_TYPE_FC_TORNADO_WATERSPOUT_FC_FUNNEL_CLOUD_TS_THUNDERSTORM_GR_HAIL_RA_RAIN_DZ_DRIZZLE_SN_SNOW_SG_SNOW_GRAINS_GS_SMALL_HAIL_OR_SNOW_PELLETS_PE_ICE_PELLETS_IC_CRYSTALS_FG_HEAVY_FOG_LESS_THAN_0_25_MILES_VIS_FG_FOG_BR_MIST_UP_UNKNOWN_PRECIP_HZ_HAZE_FU,HOURLY_PRECIP_OPTIONAL_FLOATING_POINT_CENTIMETERS_,_3_HOUR_PRECIPITATION_OPTIONAL_FLOATING_POINT_CENTIMETERS_,_6_HOUR_PRECIPITATION_OPTIONAL_FLOATING_POINT_CENTIMETERS_,_12_HOUR_PRECIPITATION_OPTIONAL_FLOATING_POINT_CENTIMETERS_,_24_HOUR_PRECIPITATION_OPTIONAL_FLOATING_POINT_CENTIMETERS_,_24_HR_MAXIMUM_TEMPERATURE_OPTIONAL_FLOATING_POINT_CELSIUS_,_6_HOUR_MAXIMUM_TEMPERATURE_OPTIONAL_FLOATING_POINT_CELSIUS_,_24_HR_MINIMUM_TEMPERATURE_OPTIONAL_FLOATING_POINT_CELSIUS_,_6_HOUR_MINIMUM_TEMPERATURE_OPTIONAL_FLOATING_POINT_CELSIUS_,SNOW_COVER_OPTIONAL_FLOATING_POINT_CENTIMETERS_,SOLAR_RADIATION_OPTIONAL_INTEGER_MINUTES_
0,K04W,2018-01-01 06:00:00.000,2018-01-01 00:00:00.000,2018-01-01 00:00:00.000,N,2,NaN,1.0,NaN,-25.0,9.36,290,NaN,69.0,-29.0,-32.86,1039.6,NaN,16.09,C,22.0,3658.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,K04W,2018-01-01 07:00:00.000,2018-01-01 01:00:00.000,2018-01-01 01:00:00.000,N,2,NaN,1.0,NaN,-25.0,7.56,300,NaN,69.0,-29.0,-31.83,1040.0,NaN,16.09,C,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,K04W,2018-01-01 08:00:00.000,2018-01-01 02:00:00.000,2018-01-01 02:00:00.000,N,2,NaN,1.0,NaN,-25.0,5.40,290,NaN,69.0,-29.0,-30.29,1040.0,NaN,16.09,C,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,K04W,2018-01-01 09:00:00.000,2018-01-01 03:00:00.000,2018-01-01 03:00:00.000,N,2,NaN,1.0,NaN,-26.0,5.40,300,NaN,69.0,-30.0,-31.43,1040.3,NaN,16.09,C,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,K04W,2018-01-01 10:00:00.000,2018-01-01 04:00:00.000,2018-01-01 04:00:00.000,N,2,NaN,1.0,NaN,-26.0,9.36,320,NaN,69.0,-30.0,-34.04,1040.6,NaN,16.09,C,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN